$PrimaryColor: #0000;
$SecondaryColor: #f58357;
@font-face{
    font-family: 'BoutrosAsma';
    src: url("Fonts/BoutrosAsma.ttf");
}
@font-face{
    font-family: 'GE-Flow-Bold';
    src: url("Fonts/GE-Flow-Bold.otf");
}
@font-face{
    font-family: 'GE-Flow-Regular';
    src: url("Fonts/GE-Flow-Regular.otf");
}
@font-face{
    font-family: 'Panton-LightitalicCaps';
    src: url("Fonts/Panton-LightitalicCaps.otf");
}
.navbar{
    background-color: white;
    margin-bottom: 0px;
    .navbar-header{
        width: 100%;
        position: relative;
        .logo{
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            box-sizing: border-box;
            .navbar-brand{
                padding: 10px 15px;
                img{
                    width: 150px;
                    height: auto;
                }
            }
        }
    }
    .items{
        ul{
            li{
                a{
                    color: black;
                    font-family: "BoutrosAsma";
                    font-size: 12px;
                    font-weight: bold;
                }
            }
            .searchIcon{
                padding-left: 0px;
            }
        }
    }
}
.firstSection{
    width: 100%;
    overflow: hidden;
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    .leftPic{
        padding-left: 0px;
        margin-top: 156px;
        margin-bottom: 63px;
        .picAli{
            padding-left: 0px;
            img{
                width: 100%;
                height: auto;
            }
        }
        .paragraph{
            padding-top: 25px;
            h4{
                color: black;
                font-family: "BoutrosAsma";
                font-size: 27px;
                margin-bottom: 15px;
                padding-right: 15px;
                border-right: 6px solid $SecondaryColor;
                border-radius: 5%;
            }
            p{
                color: black;
                font-family: "BoutrosAsma";
                font-size: 13px;
            }
        }
    }
}
.firstSection{
    .rightPic{
        padding-right: 0px;
        img{
            width: 100%;
            height: auto;
        }
    }
}
.secondSection{
    width: 100%;
    overflow: hidden;
    position: relative;
    img{
        width: 100%;
        height: auto;
    }
    .playBtn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        span:before{
            color: $SecondaryColor;
            font-size: 80px;
            cursor: pointer;
        }
    }
    .modal-content{
        width: 100%;
        background-color: black;
    }
    .modal-header{
        padding: 3px;
        border: none;
        background-color: black;
    }
    .backgroundVideo2{
        height: 450px;
    }
    .close{
        color: whitesmoke;
        opacity: 100%;
    }
    .modal-footer{
        border-top: none;
    }
}
.thirdSection{
    width: 100%;
    padding-top: 35px;
    h5{
        float: right;
        font-family: "BoutrosAsma";
        font-size: 30px;
        color:black;
        padding-top: 25px;
        padding-right: 20px;
    }
    .background{
        position: relative;
        width: 100%;
        height: 625px;
        background-image: url("Images/shows.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .shows{
            width: 100%;
            height: 400px;
            position: absolute;
            top: 100px;
            left: 0px;
            // background-color: orangered;
            .show1{
                float: right;
                position: absolute;
                top: 30px;
                right: 0px;
                box-sizing: border-box;
                .image{
                    padding: 0px;
                    height: 150px;
                    float: right;
                    background-image: url("Images/show11.png");
                    background-position: right;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                ul{
                    list-style-type: none;
                    padding-top: 15px;
                    padding-right: 10px;
                    white-space: nowrap;
                    li{
                        font-family: "BoutrosAsma";
                        color: black;
                        font-size: 14px;
                    }
                    .title{
                        color: white;
                        font-size: 25px;
                    }
                    .icon::before{
                        color: white;
                        font-size: 30px;
                    }
                }
            }
            .show2{
                float: right;
                position: absolute;
                top: 30%;
                right: 45%;
                box-sizing: border-box;
                .image{
                    padding: 0px;
                    height: 150px;
                    float: right;
                    background-image: url("Images/show22.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                }
                ul{
                    list-style-type: none;
                    padding-top: 15px;
                    padding-right: 10px;
                    white-space: nowrap;
                    li{
                        font-family: "BoutrosAsma";
                        color: black;
                        font-size: 14px;
                    }
                    .title{
                        color: $SecondaryColor;
                        font-size: 25px;
                    }
                    .icon::before{
                        color: $SecondaryColor;
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
.fourthSection{
    width: 100%;
    overflow: hidden;
    padding-top: 5px;
    position: relative;
    h5{
        font-family: "BoutrosAsma";
        font-size: 30px;
        color:black;
        padding-top: 0px;
        padding-right: 20px;
    }
    .creativeParent{
        margin-top: 15px;
        .creativePara{
            padding-top: 15px;
            h4{
                font-family: "BoutrosAsma";
                font-size: 22px;
                padding-right: 15px;
            }
            p{
                font-family: "BoutrosAsma";
                font-size: 13px;
                padding-right: 15px;
            }
            .icon2::before{
                display: block;
                padding-right: 15px;
                font-size: 30px;
                color: $SecondaryColor;
            }
        }
        .creativeImage{
            padding-right: 0px;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}
.fifthSection{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: black;
    margin-top: 15px;;
    h3{
        color: white;
        font-family: "BoutrosAsma";
        font-size: 25px;
        margin-top: 0px;
        text-align: center;
        padding-top: 20px;
    }
    .slideImageParent{
        position: relative;
        width: 100%;
        overflow: hidden;
        // background-color: yellow;
        .slideImage{
            display: none;
            overflow: hidden;
            // width: 100%;
            text-align: center;
            img{
                width: 50%;
                height: auto;
            }
        }
    }
    .para3{
        margin-top: 30px;
        p{
            padding-right: 25px;
            font-family: "BoutrosAsma";
            font-size: 21px;
            color: white;
        }
    }
    .imagesParent{
        overflow: hidden;
        padding: 0px;
        padding-bottom: 25px;
        .imageChild{
            padding: 0px;
            img{
                width: 100%;
                height: auto;
                cursor: pointer;
            }
        }
    }
    .demo{
        opacity: 0.6;
    }
    .demo:hover{
        opacity: 1;
    }
    .active{
        opacity: 1;
    }
    .preBtn{
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
        margin: 10px;
        cursor: pointer;
        img{
            width: 50%;
            height: auto;
        }
    }
    .preBtn:hover{
        opacity: 0.6;
    }
    .nextBtn{
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        cursor: pointer;
        margin: 10px;
        img{
            width: 50%;
            height: auto;
        }
    }
    .nextBtn:hover{
        opacity: 0.6;
    }
    
}
.sixthSection{
    width: 100%;
    overflow: visible;
    position: relative;
    h4{
        font-size: 25px;
        font-family: "BoutrosAsma";
        color: black;
        padding-right: 20px;
        margin-top: 30px;
        margin-bottom: 25px;
    }
    .blogParent{
        position: relative;
        overflow: visible; 
        .imageBlog{
            position: absolute;
            top: 190px;
            left: 0px;
            padding: 0px;
            display: none;
            img{
                width: 100%;
                height: auto;
            }
        }
        .videoBlog{
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 0px;
            display: none;
            img{
                width: 100%;
                height: auto;
            }
            .playBtn2{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                span::before{
                    font-size: 80px;
                    color: white;
                    cursor: pointer;
                }
            }
            .backgroundVideo21{
                height: 450px;
                background-color: black;
            }
            .modal-content{
                background-color: black;
                border-top: 0px;
            }
            .modal-header{
                background-color: black;
                border-bottom: 0px;
            }
            .modal-footer{
                border: 0px;
            }
        }
        .paragraph4{
            position: absolute;
            top: 610px;
            right: 0px;
            p{
                font-family: "BoutrosAsma";
                font-size: 12px;
                color: black;
                padding-right: 20px;
                padding-top: 5px;
                font-weight: bold;
            }
        }
        .footer{
            width: 100%;
            position: absolute;
            top: 650px;
            right: 0px;
            h3{
                font-family: "BoutrosAsma";
                font-size: 25px;
                color: black;
            }
            .buttons{
                button{
                    background-color: $SecondaryColor;
                    margin: 10px;
                }
                button:hover{
                    background-color: tomato;
                }
            }
        }
        .preBtn2{
            width: 6%;
            position: absolute;
            top: 60px;
            left: 110px;
            cursor: pointer;
            img{
                width: 100%;
                height: auto;
            }
        }
        .nextBtn2{
            width: 6%;
            position: absolute;
            top: 30px;
            left: 200px;
            cursor: pointer;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}
// Media Queries
@media(max-width:620px){
    .fourthSection{
        .creativeParent{
            .creativePara{
                padding: 0px;
                h4{
                    font-size: 14px;
                }
                p{
                    font-size: 9px;
                }
            }
        }
    }
}
@media(max-width: 992px){
    .thirdSection{
        .background{
            .shows{
                .show1{
                    position: absolute;
                    top: 20px;
                    right: 0px;
                    margin-left: 10px;
                    .image{
                        background-position: right bottom;
                    }
                    ul{
                        li{
                            font-size: 11px;
                        }
                        .title{
                            font-size: 20px;
                        }
                    }
                }
                .show2{
                    position: absolute;
                    top: 10%;
                    right: 52%;
                    margin-right: 10px;
                    .image{
                        background-position: right bottom;
                    }
                    ul{
                        li{
                            font-size: 13px;
                        }
                        .title{
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}
@media(min-width:992px){
    .firstSection{
        .leftPic{
            float: left;
        }
        .rightPic{
            float: right;
        }
    }
}
@media(max-width:770px){
    .firstSection{
        .leftPic{
            margin-top: 70px;
            .paragraph{
                padding-top: 15px;
                h4{
                    font-size: 22px;
                }
                p{
                    font-size: 10px;
                }
            }
        }
    }
}
@media(max-width:594px){
    .firstSection{
        .leftPic{
            margin-top: 50px;
            .paragraph{
                padding-top: 10px;
                h4{
                    font-size: 20px;
                }
                p{
                    font-size: 9px;
                }
            }
        }
    }
}
@media(max-width:480px){
    .firstSection{
        .leftPic{
            margin-top: 40px;
            .paragraph{
                padding-top: 5px;
                h4{
                    font-size: 15px;
                }
                p{
                    font-size: 7px;
                }
            }
        }
    }
}
@media(max-width:992px){
    .firstSection{
        .rightPic{
            padding: 40px 40px ;
            padding-top: 15px;
        }
    }
}
@media(max-width:768px){
    .navbar{
        .navbar-header{
            .navbar-toggle{
                float: left;
            }
        }
    }
}
